/*-----------------------------------*\
  #index.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root{

/** COLOURS **/

--yellow-green:      hsl(62, 100%, 50%);
--quick-silver:      hsla(0, 0%, 65%, 1);
--translucent-red:   rgba(199, 54, 54, 0.586);
--smoky-black-1:     hsla(40, 12%, 5%, 1);
--smoky-black-2:     hsla(30, 8%, 5%, 1);
--smoky-black-3:     hsla(0, 3%, 7%, 1);
--eerie-black-1:     hsla(210, 4%, 9%, 1);
--eerie-black-2:     hsla(210, 4%, 11%, 1);
--eerie-black-3:     hsla(180, 2%, 8%, 1);
--eerie-black-4:     hsla(0, 0%, 13%, 1);
--white:             rgb(255, 255, 255);
--white-alpha-20:    hsla(108, 6%, 34%, 0.935);
--light-red:         hsla(0, 100%, 50%, 0.901);
--black:             rgb(0,0,0);
--black-alpha-80:    hsla(0, 0%, 0%, 0.8);
--blue-alpha-15:     hsl(241, 97%, 49%, 0.7);


/**GRADIENT COLOUR**/

  --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
  --gradient-1: linear-gradient(to top,hsla(0, 0%, 0%, 0.9),hsla(0, 0%, 0%, 0.7),transparent);

/** FONTS **/

/*font-family*/
--fontFamily-forum: 'Forum', cursive;
--fontFamily-dm_sans: 'DM Sans', sans-serif;

/* font-size */
--fontSize-display-1: calc(1.3rem + 6.7vw);
--fontSize-headline-1: calc(2rem + 2.5vw);
--fontSize-headline-2: calc(1.3rem + 2.4vw);
--fontSize-title-1: calc(1.6rem + 1.2vw);
--fontSize-title-2: 2.2rem;
--fontSize-title-3: 2.1rem;
--fontSize-title-4: calc(1.6rem + 1.2vw);
--fontSize-body-1: 2.4rem;
--fontSize-body-2: 1.6rem;
--fontSize-body-3: 1.8rem;
--fontSize-body-4: 1.6rem;
--fontSize-label-1: 1.4rem;
--fontSize-label-2: 1.2rem;

/* font-weight */
--weight-regular: 400;
--weight-bold: 700;

/* line-height */
--lineHeight-1: 1em;
--lineHeight-2: 1.2em;
--lineHeight-3: 1.5em;
--lineHeight-4: 1.6em;
--lineHeight-5: 1.85em;
--lineHeight-6: 1.4em;

/* letter-spacing */
--letterSpacing-1: 0.15em;
--letterSpacing-2: 0.4em;
--letterSpacing-3: 0.2em;
--letterSpacing-4: 0.3em;
--letterSpacing-5: 3px;


/*SPACING*/
--section-space: 80px;


/*SHADOW*/
--shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);


/*BORDER RADIUS*/
--radius-24: 24px;
--radius-circle: 50%;


/*TRANSITION*/
--transition-1: 250ms ease;
--transition-2: 500ms ease;
--transition-3: 1000ms ease;
}



/**RESET**/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; } 
a,
img,
data,
span,
input, 
button,
select,
ion-icon,
textarea { display:block }

a { 
  color:inherit;
  text-decoration:none;
}

img { height:auto; }

input,
button,
select,
textarea{
  background:none;
  border:none;
  font:inherit;
}
input,
select,
textarea{
  width:100%;
  outline:none;
}

button {cursor:pointer; }

address {font-style:normal; }

html {
  font-size: 10pc;
  scroll-behavior: smooth;
}

body {
  background-color: var(--eerie-black-1);
  color: var(--white);
  font-family: var(--fontFamily-dm_sans);
  font-size: var(--fontSize-body-4);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-5);
  overflow: hidden;
  height: 300vh;
}

body.loaded { overflow:overlay; }

body.nav-active { overflow: hidden; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track { background-color: transparent; }

::-webkit-scrollbar-thumb { background-color: var(--yellow-green); }



/**TYPOGRAPHY**/

.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
  color: var(--white);
  font-family: var(--fontFamily-forum);
  font-weight: var(--weight-regular);
  line-height: var(--lineHeight-2);
}

.display-1 {
  font-size: var(--fontSize-display-1);
  line-height: var(--lineHeight-1);
}

.headline-1 { font-size: var(--fontSize-headline-1); }

.headline-2 {
  font-size: var(--fontSize-headline-2);
  line-height: var(--lineHeight-6);
}

.title-1 { font-size: var(--fontSize-title-1); }

.title-2 { font-size: var(--fontSize-title-2); }

.title-3 { font-size: var(--fontSize-title-3); }

.title-4 { font-size: var(--fontSize-title-4); }

.body-1 {
  font-size: var(--fontSize-body-1);
  line-height: var(--lineHeight-6);
}

.body-2 {
  font-size: var(--fontSize-body-2);
  line-height: var(--lineHeight-4);
}

.body-3 { font-size: var(--fontSize-body-3); }

.body-4 { font-size: var(--fontSize-body-4); }

.label-1 { font-size: var(--fontSize-label-1); }

.label-2 { font-size: var(--fontSize-label-2); }



/** REUSED STYLE **/

.container { padding-inline: 16px; }

.separator {
  width: 8px;
  height: 8px;
  border: 1px solid var(--yellow-green);
  transform: rotate(45deg);
}

.contact-label { font-weight: var(--weight-bold); }

.contact-number {
  color: var(--gold-crayola);
  max-width: max-content;
  margin-inline: auto;
}

.hover-underline {
  position: relative;
  max-width: max-content;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--yellow-green);
  transform: scaleX(0.2);
  opacity: 0;
  transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.contact-number::after { bottom: -5px; }

.text-center { text-align: center; }

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  position: relative;
  color: var(--yellow-green);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}


/** REUSED STYLE */

.container { padding-inline: 16px;
}

.separator {
  width: 8px;
  height: 8px;
  border:  1px solid var(--yellow-green);
  transform: rotate(45deg);
}

.contact-label { font-weight: var(--weight-bold); }

.contact-number {
  color: var(--yellow-green);
  max-width: max-content;
  margin-inline: auto;
}

.hover-underline {
  position: relative;
  max-width: max-content;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 5px;
  border-block: 1px solid var(--yellow-green);
  transform: scaleX(0.25);
  opacity: 0;
  transition: var(--transition-2);
}

.hover-underline:is(:hover, :focus-visible)::after {
  transform: scaleX(1);
  opacity: 1;
}

.contact-number::after { bottom: -5px; }

.text-center { text-align: center; }

.img-cover {
width: 100%;
height: 100%;
object-fit: cover;
}

.section-subtitle {
  position: relative;
  color: var(--yellow-green);
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing-2);
  margin-block-end: 12px;
}

.section-subtible::after {
  content: url(/assets/images/separator.svg);
  display: block;
  width: 100px;
  margin-inline: auto;
  margin-block-start: 5px;
}

